.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  margin-top: 17px;
  margin-left: 25px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    margin: 0;
    margin-top: 23px;
    width: 18px;
    height: 18px;
  }
}
