.popup__card_title {
  margin: 0;
  position: absolute;
  bottom: -25px;
  left: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
}
